<div class="footerContainer">
  <div class="container" style="">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="footer1">
          <img src="img/meatball.png" style="height: 30px;"/>
          <span style="margin-left: 3px;">NASA Officials: <a href="mailto:beth.beck@nasa.gov">Beth Beck</a> and <a href="mailto:jason.duley@nasa.gov">Jason Duley</a></span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="footer2">
          <span style="margin-right: 3px;"><a href="http://open.nasa.gov/">A NASA Open Government Initiative Website</a></span>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 15px;"></div>
</div>
