<p>
	Software release at NASA is governed by <a href="http://nodis3.gsfc.nasa.gov/displayDir.cfm?t=NPR&c=2210&s=1C">NPR 2210.1C</a>. 
	NPR 2210.1C establishes the roles, responsibilities, and 
	procedures for reporting, reviewing, and releasing software under various conditions, including open source. 
	Every center has a Software Release Authority (SRA). The SRA processes requests for software release and 
	coordinates legal, export control, IT security, 508 compliance, and software engineering standards 
	compliance reviews. Projects hoping to release software should contact their SRA early to discuss their goals 
	and begin the reporting, review, and release process.<br/><br/>
	See the infographic below for a summary of the steps necessary to go from innovation to open source:
</p>