<div class="headerContainer" ng-controller="HeaderCtrl">
	<div class="container" style="margin-top: -50px; ">
		<div class="row">
			
			<div class="">
				<div style="height: 71px;" class="col-xs-12 hidden-xs">
					<a class="navbar-brand" href="/#/">
						<img src="img/code_logo2.png" style="height: 50px; margin-top: 3px; float: left;" class="img-responsive"/>					
						<div style="clear: both;"></div>
					</a>		    	
			    	<ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
			    		<li><a href="/#/">Project</a></li>
			        	<li><a href="/#/guide">Guide</a></li>
			        	<li><a href="/#/share">Share</a></li>
			        	<li style="margin-top: -10px;"><a class="nohigh" href="/#/"><img src="img/meatball.png" style="margin-top: 3px; height: 35px; float: left;" class="img-responsive"/></a></li>		        			        	
			        </ul>
				</div>
			</div>
			
			<div class="" style="">
				<div style="height: 45px;" class="col-xs-12 visible-xs">
					<div style="float: left; margin-top: -3px;">
						<a class="navbar-brand" href="/#/"><img src="img/code_logo2.png" style="height: 40px;" class="img-responsive"/></a>
					</div>
					<div style="float: right; margin-top: 0px;"><a class="navbar-brand nohigh" href="/#/"><img src="img/meatball.png" style="height: 30px;" class="img-responsive"/></a></div>
					<div style="clear: both;"></div>
				</div>			
				<div style="height: 30px; width: 100%; text-align: center;" class="col-xs-12 visible-xs">
					<div class="mobileMenuContainer">
				    	<div style="display: inline; margin-right: 15px;"><a href="/#/">Project</a></div>
				        <div style="display: inline; margin-right: 15px;"><a href="/#/guide">Guide</a></div>
				        <div style="display: inline;"><a href="/#/share">Share</a></div>	        			       	
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <script>
$(function() {	
	$('.navmenu-fixed-left').offcanvas({
	    placement: 'left',
	    autohide: 'true',	    
	    toggle: false
	});
});
</script> -->