<div ng-include="'partials/header.html'"></div>


<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-xs-12 box" style="min-height: 600px;">
      <h3>Share Your Code</h3>
      <p>
      Thanks for your interest in sharing your code! If you are a developer employed by NASA or a
      NASA contractor and have open source code you wish to host on the NASA GitHub repository,
      email us at <a href="mailto:opensource@lists.nasa.gov">opensource@lists.nasa.gov</a>.
      If you aren't affiliated with NASA, we encourage
      your to clone, fork, modify, break, and improve the code that we've released thus far.
      We're still working out the proper methods to take user contributions to our code and
      will provide information on how to do so as it develops.
      </p>
    </div>
  </div>

</div>


<div ng-include="'partials/footer.html'"></div>
