<ul class="list-inline">
  <li><a target="_blank" href="https://facebook.com/sharer.php?u={{project['Public Code Repo']}}">
      <img src="img/facebook.png" class="img-responsive"/></a></li>
  <li><a target="_blank" href="https://twitter.com/intent/tweet?url={{project['Public Code Repo']}}&text=NASA%20Open%20Source%20{{project.Software}}&related=openNASA&hashtags=openNASA">
      <img src="img/twitter.png" class="img-responsive"/></a></li>
  <li><a target="_blank" href="https://plus.google.com/share?url={{project['Public Code Repo']}}">
      <img src="img/google+.png" class="img-responsive"/></a></li>
</ul>
