language: node_js
sudo: required
dist: trusty
addons:
  firefox: '46.0'
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
node_js:
  - '8'
before_script:
  - npm install -g bower polymer-cli
  - polymer --version
  - bower install
script:
  - xvfb-run polymer test
